.THIS .leftPaddingClass {
    padding-left: 2rem;
    margin-top: -2%;
}

.THIS .pillSize{
    /*width:100%;*/
}

.THIS div.slds-scrollable_y::-webkit-scrollbar {
    width: 7px;
}

.THIS .slds-pill__label {
    white-space: normal;
}